<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artistes</title>
    <link rel="stylesheet" href="/static/artistes.css">
</head>
<body>
     <!-- Header section -->
     <header class="navbar">
            <h2>Groupie Tracker</h2>
        <ul>
            <li><a href="/Index">Home</a></li>
            <li><a href="/Accueil">Welcome</a></li>
        </ul>
    </header> 
    <h1>Artist Information</h1>
    <!-- Main content section consists the artist information -->
    <div class="artist">
        <img src="{{ .Img }}" alt="{{ .Name }}">
        <h3>{{ .Name }}</h3>
        <p>Members: {{ range .Members }}{{ . }}, {{ end }}</p>
        <p>Creation Date: {{ .CreationDate }}</p>
        <p>First Album: {{ .FirstAlbum }}</p>
        <p>Concert dates </p>
        {{ range $key, $value := .Information.DatesLocation}}
            <li> 
            {{range $value}}
            <!-- This line creates a hyperlink pointing to a specific Google Maps -->
            <a class="key" target="_blank" href="https://www.google.fr/maps/place/{{$key}}">{{$key}}</a>
                <li>{{.}}</li>
            {{end}}
            </li>
        {{end}}
    </div>
</body>
</html>
