body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #333;
    text-align: center;
    padding: 50px;
    margin: 0;
}

h1 {
    font-size: 3em;
    color: black;
}

p {
    font-size: 1.2em;
    margin-top: 20px;
    color: #777;
}

a {
    color: #5bc0de;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
