body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-image: url('./images/audience.jpg'); 
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: 1500px; 
  height: 100px; 
}

/* Header section */
header {
  display: flex;
  justify-content: center;
  padding: 25px;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul li {
  margin: 0 40px; 
}

header ul li a {
  text-decoration: none;
  color: black; 
  font-size: 25px;
}

ul li a:hover {
  color: #ffcc00;
  transition: 0.5s;
} 

/* Main content section with link to our hame page */
.iteam {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.iteam ul {
  list-style: none;
  padding: 0;
}

.iteam ul li {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  font-size: 50px;
}

.iteam ul li a {
  color: black;
  text-decoration: none;
}

/*Media query for a tablet */
@media screen and (max-width: 768px) {

  body {
    margin-top: 0px;
    background-size: cover;
  }

  header {
    display: flex; 
    justify-content: center; 
    padding: 15px; 
  }
  
  header ul {
    display: flex;
    justify-content: center;
    width: -100px;
  }
 
  .iteam ul li a {
    display: flex;
    text-align: center;
    font-size: 40px;
    margin-top: 30%;  
  }   
}

/*Media query for smartphone*/
@media screen and (max-width: 480px) {

  body {
    margin-top: 0px;
    background-size: cover;
    width: 400px;
  }

  header {
    display: flex; 
  }

  header ul {
    display: flex;
    justify-content: center;
    width: -100px;
  }

  header ul li {
    margin: 10px; 
  }
  
  .iteam ul li a {
    display: flex;
    text-align: center;
    font-size: 34px;  
  }   

  .item ul li  {
    left: 20px;
  }
}
