body {
  margin: 0;
  padding: 0;
  background-image: url('../images/back.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* barre de navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

/* titre "Groupie Tackers" */
.navbar h1 {
  margin: 50px;
  font-size: 30px;
}

/* container du Champ de recherche */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  align-items: center;
}

.input label {
  margin-right: 10px;
  color: black;
}

/* Champ de recherche */
.input input[type="search"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 450px;
  height: 40px;
  font-size: 14px;
}

/* Bouton de recherche */
.input button {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px 15px;
  font-size: 16px;
}

/* liste de navigation */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: black;
}

/* éléments de navigation */
.navbar li {
  margin-right: 30px;
}

/* liens de la liste de navigation */
.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

/* liens de la liste de navigation */
.navbar a:hover {
  color: blue;
}

/* Style pour le pied de page */
footer {
  color: white;
  text-align: center;
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.social {
  display: flex;
  justify-content: center;
  
}
.social a {

  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%; 
}
.social a i {
 font-size: 2em;
 color: black;
 opacity: 0,9;
  
  
}
.social a:hover {
  color: #ffcc00;
  transition: 0.5s;
} 

.social a:hover i {
  color: #ffcc00;
  transition: 0.5s;
} 

.item {
  margin: 30px 0;
}

.item ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.item ul li a {
  text-decoration: none; 
  color: black;
  margin: 20px;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.item ul li a a:hover {
  opacity: 1;
}

/* Media query pour tablettes */
/* @media screen and (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: center;
  }

  .navbar h1 {
      margin: 20px;
      font-size: 24px;
  }

  .navbar .input {
      margin-top: 20px;
  }

  .navbar label {
      margin
  } */