body {
  min-height: 100vh;
  background-color: #4d43bb;   
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* section menu burger */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 100px;
}

.paste-button span {
  display: none;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  background-color: grey;
  border: 2px solid black;
  border-radius: 15px 15px 15px 15px;
}

.dropdown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  color: white;
}

.dropdown-content a:focus {
  background-color: #212121;
}

.dropdown-content #top:hover {
  border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
}

.burger-menu {
      display: flex;
}

  .burger-menu:hover + .dropdown-menu,
  .dropdown-menu:hover {
    display: block;
  }

div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  margin: 50px;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.input label {
  margin-right: 10px;
  color: black;
}

/* Search field */
.input input[type="search"] {
  padding: 8px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 450px;
  height: 40px;
  font-size: 14px;
}

.input button {
  color: #fff;
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
  padding: 8px 15px;
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 40px;
  display: flex;
  color: black;
}

.navbar li {
  margin-right: 30px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.navbar a:hover {
  color: blue;
}

hr {
  margin-top: -50px;
}

h1 {
  text-align: center;
}

.artists-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  flex: 1;
}

.artist {
  text-align: center;
}

.artists-container button { 
  background-color: #f2f1f8;
  border-radius: 40px;
}

.artist img {
  border-radius: 40px;   
  border: 6px solid gray; 
  animation: rotateAnimation 5s linear infinite;
  padding: 5px; 
  margin: auto; 
  cursor: grab;
}

select {
  display: none;
}

button {
  background-color: white;
  border: none;
}

/* animation for image rotation */
@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

img {
  transition: transform 0.3s ease; 
}

/* Apply animation on hover */
img:hover {
  animation: rotateImage 1s linear forwards; 
  transform: rotate(360deg); 
}

/* Stop animation after first execution */
img:hover::after {
  content: ""; 
  display: block;
  animation: none !important;
  animation-play-state: paused;
}

.up {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin: 15px;
}

.up .back-to-top {
  font-size: 30px;
  color: black;
  background-color: #92bbe8;
  border-radius: 15px;
  width: 60px;
  height: 35px;
  cursor: pointer;
}

.back-to-top:hover {
  background-color: white;
}


/* Style for footer */
 footer {
  text-align: center;
  width: 100%;
}

.social {
  display: flex;
  justify-content: center; 
}

.social a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%; 
}

.social a i {
  font-size: 2em;
   color: black;
  opacity: 0,9;
}

.social a:hover {
  color: #ffcc00;
  transition: 0.5s;
} 

.social a:hover i {
  color: #ffcc00;
  transition: 0.5s;
} 

summary {
  cursor: pointer;
}

.item {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.item ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.item ul li a {
  text-decoration: none; 
  color: black;
  margin: 20px;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.item ul li a a:hover {
    opacity: 1;
} 

/*Media query for tablets */
 @media screen and (max-width: 768px) {
  body {
   margin-top: 0px;
  }

  nav {
    display: flex;
  }

  .paste-button {
    font-size: 30px;
    margin-top: 8px;
  }

  .navbar .paste-button span {
      display: block;
  }

  .navbar {
      flex-direction: column;
      align-items: center;
     
  }

  .navbar h1 {
      margin: 20px;
      left: 50px;
      font-size: 18px;
  }

  .navbar ul {
      display: none;
  }

  .input input[type="search"] {
     position: relative;
     right: 110px;
     width: 300px;
     height: 30px;
     font-size: 1px;
  }

  .input button {
     position: relative;
     right: 110px;
     top: 5px;
     height: 30px;
     width: 85px;
     font-size: 10px;
  }
  h1 {
    margin-top: 60px;
  }

  .artists-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  summary {
    cursor: pointer;
  }

}

/*Media query for smartphone*/
@media screen and (max-width: 400px) {

  body {
    margin-top: -30px;
   
  }
  .navbar {
    margin-top: 80px;
  }

  .paste-button {
    font-size: 30px;
    margin-top: -50px;
    padding: 7px;
  }
  
.burger-menu {
  display: flex;
  }

  .navbar h1 {
    position: absolute;
    font-size: 15px;
    margin-top: -87px;
    left: 110px;
  }

  .navbar ul {
    display: none;
  }

  .container {
    display: flex;
  }
 
  .input input[type="search"] {
    left: -120px;
    top: -10px;
    width: 190px;
    height: 30px;
    right: 40px;
  
  }

  .input button {
    height: 30px;
    width: 77px;
    font-size: 10px;
    top: -39px;
    left: 95px;
  }

  .artists-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }

  footer {
    position: relative;
  }
  summary {
    cursor: pointer;
  }
}

